* {
padding: 0px;
margin: 0px;
border: 0px;
outline: 0px;
font-size: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav a:link, a:visited {
    line-height: 60px;
  display: inline-block;
    width: 160px;
  height: 65px;
   font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFEE1 ;
    background-color: #0C293A ;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: none;
}

.nav a:hover, a:active {
    background-color: #243E4E;
}

.nav {
  position: absolute;
  left: 240px;
  top: 220px;
  margin-left: auto;
  margin-right: auto;
}

.twitter {
  width: 220px;
  position: absolute;
  left: 20px;
  top: 420px;
  margin-left: auto;
  margin-right: auto;
}

#headshot {
  width: 220px;
  position: absolute;
  left: 20px;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  position: absolute;
  left: 240px;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#connect {
  position: absolute;
  left: 30px;
  top: 325px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  background-color: #0C293A;
  width: 960px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 1050px;
  margin-left: auto;
  margin-right: auto;
}

.bio {
  width: 660px;
  position: absolute;
  left: 300px;
  top: 325px;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #6D2224 ;
}

.bio a {
  color: #B9272B;
  text-decoration: none;
}

.latestpost {
  width: 280px;
  position: absolute;
  left: 300px;
  top: 525px;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.latestpost a {
  color: #B9272B;
  text-decoration: none;
}

.latestproject {
  width: 280px;
  position: absolute;
  left: 660px;
  top: 525px;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.latestproject a {
  color: #B9272B;
  text-decoration: none;
}

#blog {
  width: 640px;
  position: absolute;
  left: 320px;
  top: 325px;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

#blog a {
  color: #B9272B;
  text-decoration: none;
}

#portfolio {
  width: 640px;
  position: absolute;
  left: 320px;
  top: 325px;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

#portfolio a {
  color: #B9272B;
  text-decoration: none;
}

.maincontainer {
margin-left: auto;
margin-right: auto;
}